<template>
  <div>
    <h1>Statistiques</h1>
    <!-- Ajoutez le contenu et les composants nécessaires pour les statistiques -->
  </div>
</template>

<script>
export default {
  name: "AdminStatsPage",
};
</script>

<style scoped>
/* Ajoutez les styles spécifiques à cette page */
</style>
