<!-- src/views/ProductDetailPage.vue -->
<template>
  <ProductDetail />
</template>

<script>
import ProductDetail from "../../components/Products/ProductDetail.vue";

export default {
  name: "ProductDetailPage",
  components: {
    ProductDetail,
  },
};
</script>

<style scoped>
/* Styles pour la page des détails du produit */
</style>
