<template>
  <router-view class="test"></router-view>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
data,
main,
.test {
  padding: 0 !important;
  height: 100% !important;
}
</style>
